/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #84d8fd; color: #fff; text-shadow: none; }
::selection { background: #84d8fd; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===== Type ========================================================
   Font-family: Helvetica Neue (Docracy Brand)
   ========================================================================== */
	
	/*
			
		font-family:'HelveticaNeueW01-55Roma';
		font-family:'HelveticaNeueW01-56It';
		font-family:'HelveticaNeueW01-75Bold';
		font-family:'HelveticaNeueW01-76Bold';
		font-family:'HelveticaNeueW01-77BdCn 692722';
	
	*/
	
body { font-family: 'HelveticaNeueW01-55Roma', 'helvetica neue', helvetica, arial, sans-serif; }

/** BOLD **/
b, strong, h1, h2, h3, .number, #pledges li, a#see-contract { font-weight: normal; font-family: 'HelveticaNeueW01-75Bold', 'helvetica neue', helvetica, arial, sans-serif; }

i, em { font-style: normal; font-family: 'HelveticaNeueW01-56It', helvetica, 'helvetica neue', arial, sans-serif; }
b i, b em, strong i, strong em, i b, em b, i strong, em strong { font-weight: normal; font-style: normal; font-family: 'HelveticaNeueW01-76Bold', 'helvetica neue', helvetica, arial, sans-serif;  }




/* ===== Primary Styles ========================================================
   Author: Alvaro Casanova
   ========================================================================== */
body { color: #fff; }
a { color: #64afce; }
a:visited { color: #64afce; }
a:hover { color: #6ebee0; }
a:focus { outline: thin dotted; color: #6ebee0; }
a:hover, a:active { outline: 0; }
p { margin: 0; padding: 0; }
ul { list-style-type: none; margin: 0; padding: 0; }


/** layout **/
.h-section { width: 320px; padding: 72px 0 85px 0; }
.lt-ie9 .h-section { width: 100%; }

.container { width: auto; max-width: 900px; margin: 0 auto; padding: 0 20px; position: relative; }
.lt-ie9 .container { width: 900px; padding: 0 30px; }

footer { width: 250px; margin: 0 auto; margin-bottom: 42px; }
header { width: 100%; }
header h1, header h2 { margin: 0 auto; }
header h1 { margin-bottom: 40px; }
header h2 { margin-bottom: 45px; }


#intro { padding-top: 30px; padding-bottom: 85px; }
.lt-ie9 #intro { padding-top: 20px; padding-bottom: 120px; }


#see-the-contract { padding-top: 55px; padding-bottom: 55px; }

/** scroll down arrow */
#hero-image { position: relative; }
.new-arrow:link, .new-arrow:visited { display: none; width: 55px; height: 55px; background: url("/public/privacy_policy_landing/img/normal-res/new_arrow.png") no-repeat 0 0;
	-webkit-background-size: 55px 110px;
	   -moz-background-size: 55px 110px;
		 -o-background-size: 55px 110px;
		    background-size: 55px 110px;
	position: absolute; 
	top: 330px;
	right: 142px;
}
.new-arrow:hover, .new-arrow:focus { background-position: 0 -55px; }

.lt-ie9 .new-arrow:link, .lt-ie9 .new-arrow:visited { display: block;  }


/** backgrounds **/ 
#intro { 
	background: #353535 url("/public/privacy_policy_landing/img/background/mobile_back.jpg") no-repeat center bottom;  
}
	
#description {
	/* legacy browsers */
	background-color: #ffffff;  
	background-image: url("/public/privacy_policy_landing/img/background/backup_gradient.png");
	background-repeat: repeat-x;
	background-position: bottom left;
	background-size: contain;
	
	/* css3 gradient */
	background: -moz-linear-gradient(top,  #fff 0%, #f2f2f2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(top,  #fff 0%,#f2f2f2 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f2f2f2 100%); 
	background: -ms-linear-gradient(top,  #fff 0%,#f2f2f2 100%); 
	background: linear-gradient(top,  #fff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}


.section3 {
	background-color: #363636;
	background-image:  url("/public/privacy_policy_landing/img/background/gradient_tile.png"), url("/public/privacy_policy_landing/img/background/main_tile.png");
	background-repeat: repeat-x, repeat;
	background-position: -1px -1px;
	}

.section4 {
	background-color: #323232; 
	background-image: url("/public/privacy_policy_landing/img/background/footer_background.png"), url("/public/privacy_policy_landing/img/background/footer_tile.png");
	background-repeat: repeat-x, repeat;
}



/* ===== Header =============================================================
   Author: Alvaro Casanova
   ========================================================================== */
/* share this links 
#intro footer { width: 270px; text-align: center; } 
.lt-ie9 #intro footer  { float: right; position: relative; top: 15px; }*/

/** facebook 
.fb-like {  margin-right: -3px; }

.IN-widget { margin-right: 5px; }
.twitter-share-button { margin-right: 5px; }**/


/* share this links */
#intro footer { width: 270px; } 
.st_linkedin_vcount { position: relative; left: 3px; }
.st_fblike_vcount { position: relative; top: 2px; left: 5px; }
.st_plusone_vcount { position: relative; top: 1px; margin-right: 0; }


/* logo */
a#docracy { width: 80px; height: 78px; background: url("/public/privacy_policy_landing/img/normal-res/docracy_logo.png") no-repeat 0 0; margin: 0 auto; margin-bottom: -10px;}
a#docracy:hover, a#docracy:focus { background-position: -80px 0; }


/* document title */
#intro h2 { font-size: 1.8em; text-align: center; letter-spacing: 0.05em; line-height: 1.3; }


/* mobile phone */ 
#mobile-phone { overflow: hidden; width: 250px; margin: 0 auto; margin-top: -13px; }
#mobile-phone img { position: relative; right: 4px; }


/** ie 8 & 7 **/
.lt-ie9 a#docracy { float: left; margin-bottom: 50px; }
.lt-ie9 #intro h2 { clear: both; }


/* ===== description =============================================================
   Author: Alvaro Casanova
   ========================================================================== */
#description { color: #9c9c9c; }
#description strong { color: #6d6d6d; }
#description p { line-height: 2; margin-bottom: 55px; }

#pledges { margin-bottom: 55px; }

#pledges li { text-align: center; color: #9c9c9c; font-size: 1.1em;  margin: 0 auto; margin-bottom: 60px; width: 220px; position: relative; }
#pledges li p { margin-bottom: 0; line-height: 1.4; position: relative; padding: 0; width: 210px; margin: 0 auto; }
#pledges li:last-child { margin-bottom: 0; }

#pledges a { text-decoration: none; display: block; }

#geolocation { background-image: url("/public/privacy_policy_landing/img/normal-res/geolocation.png");}
#when-showing { background-image: url("/public/privacy_policy_landing/img/normal-res/ads.png");}
#vanilla { background-image: url("/public/privacy_policy_landing/img/normal-res/vanilla.png");}

#geolocation, #when-showing, #vanilla { background-repeat: no-repeat; background-position: center top; }

#pledges a:link p, #pledges a:visited p { padding-top: 130px; color: #909090; }
#pledges a:hover p, #pledges a:focus p { color: #64AFCE; background-position: center -357px;}



/* number 
#pledges li span { display: block; background: #83d8fb; width: 52px; height: 52px; 
	 			   border-radius: 52px; font-size: 1.6em; line-height: 52px; color: #fff; margin: 0 auto;
				   margin-bottom: 35px;	
	 			 }

.lt-ie9 #pledges li span  { background: transparent url("/public/privacy_policy_landing/img/normal-res/ie_circle.png") no-repeat center center; }
	
a.help { display: block; position: absolute; top: 98px; right: 0px; text-decoration: none; width: 44px; height: 44px; }
#pledges li a.help span  {  width: 16px; height: 16px; line-height: 16px; font-size: 0.6em; position: relative; top: 15px; background: #64afce; }
#pledges li a.help:visited span { background: #64afce;  } 	
#pledges li a.help:hover span, #pledges li a.help:focus span { background: #6ebee0; }
*/

.tooltip { position: relative; display: inline-block;}
#description p.tooltip-box { line-height: 1.5; }
.tooltip-box { font-size: 0.6em; position: absolute; color: #fff; background: rgba(0,0,0,0.8); padding: 8px 8px; border-radius: 5px; top: -60px; right: -15px; z-index: 500; width: 100px; text-align: center; }
.tooltip-box::after { content: "."; display: block; position: absolute; bottom: -8px; left: 7px; width: 15px; height: 8px; background: url("/public/privacy_policy_landing/img/normal-res/tooltip_arrow.png") no-repeat center bottom; text-indent: 9999px; overflow: hidden; width: 100px;}


/** ie 8 & 7 **/

.lt-ie9 a.help { height: 16px; width: 16px; top: 112px; right: 14px;  }
.lt-ie9 #pledges li a.help span { top: 0; }
.lt-ie9 #pledges li a.help  span, .lt-ie9  #pledges li  a.help:visited  span { background: url("/public/privacy_policy_landing/img/normal-res/ie_learn_more.png") no-repeat 0 0; }
.lt-ie9 #pledges li a.help:hover span, .lt-ie9 #pledges li a.help:focus span { background: url("/public/privacy_policy_landing/img/normal-res/ie_learn_more.png") no-repeat -20px 0; }


.lt-ie9 #pledges li { float: left; width: 285px; margin-bottom: 0; }
.lt-ie9 #pledges #middle_pledge { border: 1px solid #ccc; border-top: none; border-bottom: 0; margin-left: 20px; margin-right: 20px; }

.lt-ie9 #pledges li p.tooltip-box { top: -60px; right: -104px; }
.lt-ie9 #pledges li p.tooltip-box::after { left: 46%; }


/* ===== See the doc ============================================================
   Author: Alvaro Casanova
   ========================================================================== */
.section3 {  padding: 34px 0; }
.section3 h3 { font-size: 1.5em; margin: 0; margin-bottom: 30px; }
.lt-ie9 .section3 h3  { float: left; margin-right: 20px;}

a#see-contract span { display: block;  }
a#see-contract { 
			   color: #fff;
			   display: block; padding: 20px; text-decoration: none; font-size: 1em; 
			   border-radius: 5px; text-align: center;
			   	
		       background-color: #4d95b5; 
		
			   background: -moz-linear-gradient(top,  #4d95b5 0%, #4d95b5 98%, #71aac4 100%); 
			   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d95b5), color-stop(98%,#4d95b5), color-stop(100%,#71aac4)); 
			   background: -webkit-linear-gradient(top,  #4d95b5 0%,#4d95b5 98%,#71aac4 100%); 
			   background: -o-linear-gradient(top,  #4d95b5 0%,#4d95b5 98%,#71aac4 100%); 
			   background: -ms-linear-gradient(top,  #4d95b5 0%,#4d95b5 98%,#71aac4 100%); 
			   background: linear-gradient(top,  #4d95b5 0%,#4d95b5 98%,#71aac4 100%); 
			
			   -webkit-box-shadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.2);
			   box-shadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.2);	
			 }

a#see-contract:hover, a#see-contract:focus { 
				background-color: #529fbf; 
		
				background: -moz-linear-gradient(top,  #529fbf 0%, #529fbf 98%, #79b5d1 100%); 
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#529fbf), color-stop(98%,#529fbf), color-stop(100%,#79b5d1));
				background: -webkit-linear-gradient(top,  #529fbf 0%,#529fbf 98%,#79b5d1 100%); 
				background: -o-linear-gradient(top,  #529fbf 0%,#529fbf 98%,#79b5d1 100%); 
				background: -ms-linear-gradient(top,  #529fbf 0%,#529fbf 98%,#79b5d1 100%); 
				background: linear-gradient(to bottom,  #529fbf 0%,#529fbf 98%,#79b5d1 100%);
			
			}

a#see-contract:active { 
				-webkit-box-shadow: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
				box-shadow:  inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
				color: #3f7993;
				border: 1px solid #2d2d2d;
				background: #305d71;
				margin-bottom: 28px; 
	}



/** ie 8 & 7 **/
.lt-ie9	.section3 { padding-bottom: 160px; }

.lt-ie9  	a#see-contract { padding: 0; }
.lt-ie9 	a#see-contract span { width: 250px; margin: 0 auto; font-size: 1.1em;
		 				  background: url("/public/privacy_policy_landing/img/normal-res/docracy_logo_link.png") no-repeat 0 -98px; 
						  padding: 28px 0; text-align: left; padding-left: 45px;
						}
.lt-ie9 	a#see-contract:active span { background-position: 0 -5px; }




/* ===== Project buttons ====================================================
   Author: Alvaro Casanova
   ========================================================================== */

.section4 footer { text-align: center; margin-bottom: 0px; font-size: 0.9em; }

/* list company button */
#list-here a:link, #list-here a:visited  { 
			   display: block; padding: 18px; text-decoration: none; font-size: 0.9em; 
			   border-radius: 5px; text-align: center;
			   	
		       background-color: #424242; 
			 
			   background: -moz-linear-gradient(top,  #424242 0%, #363636 95%, #3a3a3a 100%); 
			   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(95%,#363636), color-stop(100%,#3a3a3a)); 
			   background: -webkit-linear-gradient(top,  #424242 0%,#363636 95%,#3a3a3a 100%); 
			   background: -o-linear-gradient(top,  #424242 0%,#363636 95%,#3a3a3a 100%); 
			   background: -ms-linear-gradient(top,  #424242 0%,#363636 95%,#3a3a3a 100%); 
			   background: linear-gradient(top,  #424242 0%,#363636 95%,#3a3a3a 100%); 
		      
			   -webkit-box-shadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.2);
			   box-shadow:  0px 3px 4px 0px rgba(0, 0, 0, 0.2);	
			
			   margin-bottom: 30px; 
		 }
		
.lt-ie9 #list-here a:link, .lt-ie9 #list-here a:visited  { float: left; padding: 5px 18px; position: relative; top: 2px; width: 200px; }
			 
#list-here a:hover, #list-here a:focus { 
				
	background-color: #4c4c4c; 
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #424242 95%, #444444 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(95%,#424242), color-stop(100%,#444444));
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#424242 95%,#444444 100%); 
	background: -o-linear-gradient(top,  #4c4c4c 0%,#424242 95%,#444444 100%); 
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#424242 95%,#444444 100%); 
	background: linear-gradient(top,  #4c4c4c 0%,#424242 95%,#444444 100%);

}

#list-here a:active { 
	-webkit-box-shadow: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
	color: #467b91;
	border-bottom: 1px solid #3f3f3f;
	background-color: #353535;

    background: -moz-linear-gradient(top,  #353535 0%, #303030 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#303030)); 
	background: -webkit-linear-gradient(top,  #353535 0%, #303030 100%); 
	background: -o-linear-gradient(top,  #353535 0%, #303030 100%); 
	background: -ms-linear-gradient(top,  #353535 0%, #303030 100%); 
	background: linear-gradient(top,  #353535 0%, #303030 100%); 

	margin-bottom: 29px; 

	}




	/** lt ie9 **/
	.lt-ie9 #intro { padding-bottom: 100px; padding-top: 30px; }

	.lt-ie9 a#docracy { float: left; position: relative; margin-bottom: 35px;}
	.lt-ie9 #intro footer { float: right; position: relative; top: 15px;  }
		
	.lt-ie9 #intro footer { float: right; position: relative; top: -2px;  } 

	.lt-ie9 #intro h2 {  font-size: 2.8em; width: 180px; float: right; text-align: left; position: relative; top: 120px; margin-right: 16px; }
	
	.lt-ie9 #hero-image { margin: 0 auto; width: 500px; clear: both; }

	.lt-ie9 a#see-contract { width: 500px; margin: 0 auto; }
	.lt-ie9 .section4 footer { text-align: right; font-size: 0.8em; position: absolute; top: 33px; right: 30px; } 

	.lt-ie9 #mobile-phone { overflow: hidden; width: 345px; margin: 0; float: right; margin-right: -53px; margin-top: -13px;  }
	
	/* .lt-ie9 #description { margin-bottom: 190px; } */
	
	.lt-ie9 #see-the-contract { padding-top: 55px; padding-bottom: 55px; }





/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* smaller than iPad */
@media only screen and (min-width: 321px) {

	.h-section { width: 100%; padding: 72px 0 85px 0; }

	.container { padding: 0 30px; }

	#intro h2 { font-size: 2.2em; text-align: center; letter-spacing: 0.05em; line-height: 1.3; }
	#intro footer { width: 270px;  }
	
	.fb-like { margin-left: 2px; position: relative; }
	
	a.help { height: 16px; width: 16px; top: 112px; right: 14px;  }
	#pledges li a.help span { top: 0; }
	
	
	#pledges li p.tooltip-box { top: -60px; right: -25px; }
	#pledges li p.tooltip-box::after { left: 82%; }
	
	/*.section3 { position: relative; position: fixed; z-index: 2000; bottom: 0; }
	#description { margin-bottom: 100px; }*/
}

/* intermediate */
@media only screen and (min-width: 400px) {
	

	a#see-contract { padding: 0; }
	a#see-contract span { width: 250px; margin: 0 auto; font-size: 1.1em;
		 				  background: url("/public/privacy_policy_landing/img/normal-res/docracy_logo_link.png") no-repeat 0 -98px; 
						  padding: 28px 0; text-align: left; padding-left: 45px;
						}
	a#see-contract:active span { background-position: 0 -5px; } 
	
	/*#description { margin-bottom: 120px; }*/

	#pledges li p.tooltip-box { top: -60px; right: -104px; }
	#pledges li p.tooltip-box::after { left: 46%; }

}



@media only screen and (min-width: 500px) {
	a#see-contract span { width: 280px; margin: 0 auto; font-size: 1.2em; padding-left: 55px; }
}

/* iPad */
@media only screen and (min-width: 768px) {
	

	#intro h2 { font-size: 2.8em; }
	
	#middle_pledge { border: 1px dotted #9c9c9c; border-top: none; border-bottom: none; }
	#pledges li p { width: 100%; }
	#pledges li { float: left; padding: 0 2%; width: 27.85%; margin-right: 2%;  margin-bottom: 0; }
	#pledges li:last-child { margin-right: 0; border-right: none; }
}


/* small screens */
@media only screen and (min-width: 800px) {
	
	.new-arrow:link, .new-arrow:visited { display: block; }
	
	/* logo */
	#intro { padding-bottom: 100px; padding-top: 30px; }

	a#docracy { float: left; position: relative; margin-bottom: 35px;}
	#intro footer { float: right; position: relative; top: 15px;  }
		
	#intro footer { float: right; position: relative; top: -2px;  } 

	#intro h2 {  font-size: 2.8em; width: 180px; float: right; text-align: left; position: relative; top: 120px; margin-right: 16px; }
	
	#hero-image { margin: 0 auto; width: 500px; clear: both; }

	a#see-contract { width: 500px; margin: 0 auto; }
	.section4 footer { text-align: right; font-size: 0.8em; position: absolute; top: 33px; right: 30px; } 

	#mobile-phone { overflow: hidden; width: 345px; margin: 0; float: right; margin-right: -53px; margin-top: -13px;  }
	
	/*#description { margin-bottom: 190px; }*/
	
	#see-the-contract { padding-top: 55px; padding-bottom: 55px; }
}


/* wide screens */
@media only screen and (min-width: 900px) {

	
}

/* high density */
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

	/* backgrounds */
	.section3 {
		border-top: 10px solid #303030;
		background-color: #363636;
		background-image: none;
		}
		
	#see-the-contract { padding-top: 45px; padding-bottom: 55px; }
		

	.section4 {
		background: #323232 url("/public/privacy_policy_landing/img/hi-res/footer_background.png") repeat-x top center;
		background-size: 2px;
	}
	
	
	/* logo */
	a#docracy { background: url("/public/privacy_policy_landing/img/hi-res/docracy_logo.png") no-repeat 0 0; background-size: auto 78px; }
	a#docracy:hover, a#docracy:focus  { background-position: 0 0; }


	/** pledges tooltip **/
	#pledges li p.tooltip-box::after { background: url("/public/privacy_policy_landing/img/hi-res/tooltip_arrow.png") no-repeat 0 0; background-size: 15px auto }
	
	/** icons **/
	#geolocation { background-image: url("/public/privacy_policy_landing/img/hi-res/geolocation.png"); }
	#when-showing { background-image: url("/public/privacy_policy_landing/img/hi-res/ads.png"); }
	#vanilla { background-image: url("/public/privacy_policy_landing/img/hi-res/vanilla.png"); }

	#geolocation, #when-showing, #vanilla { background-size: 106px auto; }

	/** scroll down arrow **/
	.new-arrow:link, .new-arrow:visited { background-image: url("/public/privacy_policy_landing/img/hi-res/new_arrow.png"); }
	

	
}


/* high density / intermediate */
@media only screen and (-moz-min-device-pixel-ratio: 1.5) and (min-width: 400px), only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 400px), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 400px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 400px) {
	
	a#see-contract span { background: url("/public/privacy_policy_landing/img/hi-res/docracy_logo_link.png") no-repeat 0 -108px; 
						  background-size: 36px auto;
						}
	a#see-contract:active span { background-position: 0 -15px; }
}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
